:root {
  --color-neon: rgb(28, 27, 27);
  --color-light-neon: rgb(70, 67, 67);
  --color-background-dark: rgb(163, 239, 235);
  --color-background-light:rgb(245, 134, 251);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: start;
  color: var(--color-neon);
  font-family: "Balsamiq Sans", cursive;
  padding: 3rem 0 0 3rem;
  background-image: linear-gradient(to bottom right, var(--color-background-light) ,var(--color-background-dark) 80%);
  background-size: 300%;
  animation: bg-aniation 10s infinite alternate;
}

@keyframes bg-aniation {
  0% {
      background-position: left;
  }
  100% {
      background-position: right;
  }   
}

.neon-button {
  font-size: 2rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 1em;
  position: relative;
  color: var(--color-neon);
  text-shadow: 0 0 1em var(--color-neon), 0 0 1.5em var(--color-neon), 0 0 0.5em var(--color-light-neon);
  
}

.neon-button:hover {
  animation: btn-spin 0.75s linear;
}

@keyframes btn-spin {
  0%{
      transform: rotate(0deg) scale(1);
  }
  50%{
      transform: rotate(180deg) scale(0.25);
  }
  100%{
      transform: rotate(360deg) scale(1);
  }
}



